/* @override 
	http://localhost.local/kieken/webroot/tournee/css/admin.css
*/

#tournee_events.index h2 {
	float: left;
	width: 100%;
}

#tournee_events.index h2 span {
	float: left;
}

#tournee_events.index h2 #facebook_logout {
	float: right;
	font-size: 13px;
	margin: 5px;
	text-align: right;
}

.tournee .info {
	float: left;
	padding: 10px;
	background: #eee;
	margin: 0 0 10px 0;
	width: 920px;
}

.tournee .info table {
	border: none;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	vertical-align: top;
	background: none;
}

.tournee .info table tr td {
	vertical-align: top;
}

.tournee .info table tr td:first-child {
	font-weight: bold;
}

.tournee .info table tr.striped {
	background: none;
}

#tournee_tours.form #tour-photos ul li{
	float: left;
	width: 200px;
}